<style>.par-tp {max-width: 100%;overflow: hidden;}.open.nav1, .search {top: -5px;}div#top-social-L{margin-left: 0}nav.nav-par{position:relative;top:-19px}.par-bottm{top:70px}header#sp-header{height:127px}.head-pz{height:127px}.floar:before{width:100%;transform:none;border-radius:0}.floar{width:100%}
@media screen and (max-width:992px){.head-pz {height: 97px;}header#sp-header {height: 97px;}.par-bottm {top: 35px;}}
</style>

<style>
body{-webkit-animation:-amp-start 0.3s steps(1,end) 0.3s 1 normal both;-moz-animation:-amp-start 0.3s steps(1,end) 0.3s 1 normal both;-ms-animation:-amp-start 0.3s steps(1,end) 0.3s 1 normal both;animation:-amp-start 0.3s steps(1,end) 0.3s 1 normal both}
@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
</style>

<style>/*<![CDATA[*/
  body *{font-family: tahoma!important}
.shareButton a {
    width: calc((100% - 50px) / 6);
}
@media screen and (max-width:720px){
.shareButton a{width:calc((100% - 24px) / 3)}
}
@media screen and (max-width:360px){
.shareButton a{width:calc((100% - 11px) / 2);margin-right:0!important}
}
/*]]>*/</style>

<style>
div#error-page {
    display: block;
    text-align: center;
    padding: 30px;
    height: calc((100vh - 245px));
}
.r-r {
    float: none;
    width: 100%;
}
h1.errornum {
    font-size: 80px;
}
h2.error {
    font-size: 23px;
    color: #4e4e4e;
}
.block-side {
    display: none;
}
  @media screen and (max-width:992px){div#error-page {height:auto;}}
</style>


          <style>.par-tp {max-width: 100%;overflow: hidden;}.open.nav1, .search {top: -5px;}div#top-social-L{margin-left: 0}nav.nav-par{position:relative;top:-19px}.par-bottm{top:70px}header#sp-header{height:127px}.head-pz{height:127px}.floar:before{width:100%;transform:none;border-radius:0}.floar{width:100%}
@media screen and (max-width:992px){.head-pz {height: 97px;}header#sp-header {height: 97px;}.par-bottm {top: 35px;}}
</style>

<style>/*<![CDATA[*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
  body *{font-family: 'Tajawal', sans-serif!important}
/*]]>*/</style>



